/* sig in start */
#homein{
  width: 100%;
  height: 49px;
  padding-top: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}
 /* first fase comp */
 #p1bag{
   width: 98%;
   height: auto;
   /* border: 1px solid red; */
   display: flex;
   margin: auto;
 }
 #p1left{
   width: 15%;
   height: 400px;
   /* border: 1px solid red; */
   margin-right: 40px;
   
 }
 #p1right{
   width: 82%;
   height: auto;
   /* border: 1px solid red; */
  
 }
 a{
   text-decoration: none;
   color: #595959;

 }
 /* left complete */
 /* <!-- right start --> */
 #p1right1{
   width: 100%;
   height: 40px;
   border-bottom: 1px solid black;
 }

 #p1right1a{
   width: 100%;
   height: 50px;
   /* border: 1px solid red; */
   display: flex;
   background-color: #dddddd;
   margin-top: 10px;
 }
 #p1filter{
   width: 10%;
   height: 100%;
   /* border: 1px solid red; */
 }
 #p1filters{
   width: 85%;
   height: 100%;
   margin: auto;
   /* border: 1px solid red; */
 }
 #p1filters>select{
   width: 25%;
   height: 40px;
   font-size: 20px;
   border: none;
   border-bottom: 2px solid black;
   margin-right: 20px;
 }
 /* filter  div complete */
 #p1store{
   width: 100%;
   height: 50px;
   
   margin-top: 10px;
   border-top: 2px solid #d1c9ca;
   border-bottom:2px solid #d1c9ca;
 }
             /* js start  */
 #p2js {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 20px;
   margin-top: 30px;
 }
 #p2js>div{
   text-align: center;
 }
 #p2js button{
   width: 100%;
   height: 40px;
   background-color:black;
   color: white;
 }
 #immy{
   width: 160px;
   height: 160px;
 }